:root {
    --content-width: 1200px;
    --primary-blue: #19376d;
    --secondary-blue: #7eb9e3;
    --yellow: #ffc436;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    background-image: url('../images/body14.png');
    background-repeat: repeat-y;
    background-position-y: top;
    background-position-x: center;

}
header {
    display: flex;
    justify-content: center;
    background-image: url('../images/background-header.jpg');
    color: white;
    border-bottom: 2px solid white;
    top: 0;
    transition: all 0.5s;
}

main {
    background-image: url('../images/main4.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    width: inherit;
}

.nav-menu-wrapper {
    display: none;
    justify-content: center;
}
.nav-menu-wrapper.sticky {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 0;
    margin-left: 0;
    color: white;
    border-bottom: 2px solid white;
    background-image: none;
    position: fixed;
    background-image: url('../images/background-header.jpg');
    z-index: 999999;
}
.nav-menu-wrapper.sticky ul {
    width: var(--content-width);
}
nav,
footer > div {
    width: 800px;
    padding-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.logo {
    max-width: 150px;
    flex-shrink: 0;
    cursor: pointer;
}
.logo img {
    width: 100%;
}
.nav-bar {
    flex: 1;
}
.nav-menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 1000px;
}
.search-bar {
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 3px solid var(--secondary-blue);
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}
.search-bar input {
    width: 300px;
    display: block;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 16px;
    caret-color: var(--primary-blue);
    background-color: transparent;
}
.search-bar i {
    font-size: 20px;
    cursor: pointer;
    color: grey;
}
.search-and-login {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
}
.icon-flag {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.icon-flag img {
    height: 100%;
    display: block;
}
.menu-item {
    height: 50px;
    text-transform: uppercase;
    padding: 0 12px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 0 0 2px;
    z-index: 9999;
}
.menu-item a {
    color: white;
    text-decoration: none;
}
.menu-item:hover,
.menu-item.active {
    background-color: var(--yellow);
    border: var(--primary-blue);
}
.menu-item:hover a,
.menu-item.active a {
    color: black;
    /* font-weight: bold; */
}
.menu-item-first::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 2px);
    height: calc(100% + 0px);
    width: 22px;
    background-color: var(--yellow);
    transform: skew(-15deg) translateX(-10px);
    border-radius: 0 2px 2px 0;
}
.menu-item-last::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    right: calc(100% + 2px);
    height: calc(100% + 0px);
    width: 22px;
    background-color: var(--yellow);
    transform: skew(-15deg) translateX(-10px);
    border-radius: 0 2px 2px 0;
}
.menu-item::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    height: calc(100% + 0px);
    width: calc(100% + 30px);
    background-color: var(--yellow);
    transform: skew(-15deg);
    z-index: -1;
    border-radius: 0 2px 2px 0;
}
.menu-item:hover::after,
.menu-item.active::after {
    display: block;
}
.search-bar {
    display: flex;
    justify-content: center;
}
.search-bar-and-flag {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    gap: 10px;
}
.login {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    align-items: center;
}
.dangky,
.dangnhap {
    text-align: center;
    background-color: var(--btn-color);
    padding: 10px;
    position: relative;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    gap: 6px;
}

.dangky {
    --btn-color: #aac5e7;
    width: 112px;
    height: 40px;
    cursor: pointer;
}

.dangky:hover,
.dangky::after:hover {
    background-color: #19376d;
}
.dangnhap {
    --btn-color: #337ccf;
    width: 140px;
    height: 30px;
    cursor: pointer;
}
.dangky::after,
.dangnhap::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    height: calc(100% - 0px);
    width: 30px;
    background-color: var(--btn-color);
    transform: skew(-15deg) translateX(-10px);
    border-radius: 5px 0 0 5px;
}
footer {
    background-color: #0B2447;
    color: white;
}
footer > div {
    justify-content: space-between;
}
footer a {
    color: white;
    text-decoration: none;
}

.up-footer {
    width: inherit;
    background-image: url('../images/ft1.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    display: flex;
    color: white;
    padding: 0px 100px 20px 100px;
}

.up-footer-content-box {
    width: 300px;
    padding: 100px 0 0 0;
    margin-top: -40px;
}

.up-footer-content-box h3 {
    text-align: center;
    background-color: #337ccf83;
    height: 30px;
    padding: 5px 0 0 0;
}

.up-footer-content-box p {
    font-size: larger;
}

.up-footer-content-box a:hover {
    color: #aac5e7;
}

.down-footer-content-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: inherit;
}

.logo-footer img {
    width: 150px;
}
.contact-info {
    padding: 10px;
    margin-top: 20px;
}
.contact-info i + i {
    margin-left: 12px;
}
.info-footer,
.ykien-footer,
.seacat-footer {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.ykien-footer p {
    margin-top: 0;
}

#gopy {
    width: 278px;
    height: 40px;
    border: 0;
    padding: 0 12px;
    font-size: 16px;
    background: none;
    color: white;
}

#gopy1 {
    width: 278px;
    height: 40px;
    border: 0;
    padding: 0 12px;
    font-size: 16px;
    background: none;
    color: white;
}

#gopy-btm {
    height: 30px;
    caret-color: var(--secondary-blue);
    background-color: var(--secondary-blue);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 5px 0 0;
}

#gopy-btm:hover {
    background-color: #ffc436;
}

#gopy-btm1 {
    height: 30px;
    caret-color: var(--secondary-blue);
    background-color: var(--secondary-blue);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 5px 0 0;
}

#gopy-btm1:hover {
    background-color: #ffc436;
}

.opinion-box {
    display: flex;
    border: 1px solid #7eb9e3;
    color: white;
}

#gopy input {
    color: white;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9999;
}

#myBtn img {
    width: 70px;
   
}

.account {
    display: flex;
    gap: 30px;
}

.acc {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    margin-top: 12px;
    margin-left: -20px;
}