:root {
  --content-width: 1200px;
  --primary-blue: #0b2447;
  --secondary-blue: #7eb9e3;
  --fourth-blue: #aac5e7;
  --yellow: #ffc436;
  --third-blue: #627091;
  --fifth-blue: #337ccf;
}

.phim-hot {
  width: 100%;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-around;
  /* margin-bottom: 20px; */
}

.phim-hot-item {
  width: 100%;
}

.phim-hot img {
  width: 100%;
}

.slick-dots {
  position: absolute;
  bottom: 50px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
  list-style-type: none;
  padding: 10px 0 0 0;
  margin-top: 10px;
}

.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}

.slick-dots .slick-active button {
  background-color: var(--secondary-blue);
}

.button-slide {
  display: flex;
  /* flex-direction: row; */
  margin: auto 0;
  width: var(--content-width);
  justify-content: center;
  height: 10px;
  /* background-color: #36ff3d; */
}

.button-slide-child {
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 3px solid var(--primary-blue);
  border-radius: 50%;
}

/* đặt vé */
.datve-content {
  width: inherit;
  display: flex;
  justify-content: space-around;
}

.dat-ve {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(11, 39, 74);
  margin-top: 30px;
}

.datve-item-sub {
  margin-top: 30px;
  width: 312px;
  height: 57px;
  border-radius: 30px;
  /* border-top-left-radius: 0px; */
  background-color: #ffc436;
  /* padding-left: 20px; */
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
}

.dat-ve-item {
  display: flex;
  gap: 30px;
}

.datve-item-sub:hover {
  background-color: var(--secondary-blue);
  color: #0b2447;
}

.sub-menu-1 {
  display: none;
  z-index: 99999;
  padding: 0 30px 0 0;
}

.sub-menu-1::before {
  content: "";
  height: 20px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.datve-item-sub:hover .sub-menu-1 {
  display: block;
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
  background: white;
}

.datve-item-sub:hover .sub-menu-1 ul {
  list-style-type: none;
  display: block;
  margin: 10px;
}

.datve-item-sub:hover .sub-menu-1 ul li {
  width: 245px;
  padding: 10px;
  border-bottom: 1px dotted black;
  background: transparent;
  text-align: left;
}

.datve-item-sub:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}

.datve-item-sub:hover .sub-menu-1 ul li:hover {
  background: var(--secondary-blue);
}

.datve-item-sub p {
  padding-left: 20px;
  padding-top: 12px;
}

.dat-ve-01 {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 20px;
}

.dat-ve-02 {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 20px;
}

.dat-ve-03 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
}

.dat-ve-04 {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 20px;
}

.title {
  padding-top: 40px;
}

.title-datve h1 {
  color: white;
  font-size: 40px;
}

.ticket {
  position: absolute;
  width: 200px;
  top: -80px;
  left: 150px;
}

.datve-item-sub button {
  position: absolute;
  top: 13px;
  right: 10px;
  height: 31px;
  width: 31px;
  background: none;
  border: none;
  cursor: pointer;
}

.phim-dang-chieu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 70px 20px 40px 20px;
  background-color: rgb(25, 55, 109);
  transform: translateY(-150px);
  margin-top: 150px;
  width: var(--content-width);
}

.head-title {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 70px;
}

.head-title a {
  text-decoration: none;
}
.danh-sach-phim {
  height: 390px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
}
.phimdangchieu-content {
  width: inherit;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
/* arrow */
.slick-arrow {
  width: 300px;
  height: 88px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.film-poster {
  width: 200px;
  height: auto;
  display: flex;
  gap: 10px;
}

.film-poster img {
  width: 100%;
}

.film a {
  width: 221px;
  font-size: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.arrow img {
  height: 88px;
}

main {
  display: flex;
  flex-direction: column;
}
.title-datve {
  display: flex;
}
.title-datve img {
  transform: translateY(-80px);
  padding-top: 0;
  width: 200px;
}

/* Khuyến mãi */
.khung-khuyen-mai {
  width: var(--content-width);
  height: 320px;
  padding: 20px;
  background-color: var(--primary-blue);
  align-items: center;
  justify-content: center;
}

.frame-khung-khuyen-mai {
  margin-top: 90px;
  transform: translateY(-100px);
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: -1; */
}

.khuyen-mai {
  height: 100%;
  background-color: transparent;
  border: 2px dashed var(--secondary-blue);
  padding: 20px;
  padding-left: 50px;
  display: flex;
  gap: 25px;
  justify-content: space-around;
}

.khuyen-mai img {
  width: 380px;
  height: auto;
}

.khuyen-mai-item {
  cursor: pointer;
}

.khuyen-mai > .slick-dots {
  bottom: 20px;
}

/* Đánh giá phim */
.frame-danh-gia-phim {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-danh-gia {
  display: block;
  text-align: left;
  color: white;
  margin-top: -30px;
}

.khung-danh-gia-phim {
  width: var(--content-width);
  height: 630px;
  padding: 20px;
  background-color: var(--primary-blue);
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.danh-gia-phim {
  height: 590px;
  background-color: transparent;
  border: 2px dashed var(--secondary-blue);
  padding: 20px;
  /* padding-left: 50px; */
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-around;
}

.danh-gia-phim-item {
  width: 100%;
  height: 270px;
  background-color: var(--third-blue);
  display: flex;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.danh-gia-phim-item img {
  height: 100%;
}
.danhgiaphim-content-read {
  background-color: var(--fourth-blue);
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.danhgiaphim-content-read a {
  text-decoration: none;
  color: black;
}
.danhgiaphim-content-read span {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.danh-gia-phim-item .title {
  padding-top: 0;
}

#submitbtnhome {
  font-weight: bold;
  margin-left: 63%;
  width: 200px;
  font-size: 30px;
  background-color: #0b2447;
  color: #ffc436;
  border: 0;
  cursor: pointer;
  border: solid 2px #ffc436;
  font-size: 28px;
  border-radius: 2px;
  padding: 10px;
}

#submitbtnhome:hover {
  background-color: #ffc436;
  color: black;
}

/* -- pc --*/
@media screen and (min-width: 73.125em) and (max-width: 77.875em) {
  .datve-content {
    width: inherit;
    display: flex;
    justify-content: space-around;
  }

  .dat-ve {
    width: inherit;
    display: flex;
    justify-content: center;
    height: 210px;
    background-color: rgb(11, 39, 74);
    margin-top: 30px;
  }

  .phim-dang-chieu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 70px 10px 0 10px;
    background-color: rgb(25, 55, 109);
    transform: translateY(-150px);
    margin-top: 150px;
    width: 980px;
  }

  .danh-sach-phim {
    height: 390px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
  }
  .phimdangchieu-content {
    width: inherit;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .khung-khuyen-mai {
    width: 960px;
    height: 280px;
    padding: 20px;
    background-color: var(--primary-blue);
    align-items: center;
    justify-content: center;
  }

  .khuyen-mai img {
    width: 300px;
    height: auto;
  }

  .khung-danh-gia-phim {
    width: 960px;
    height: 630px;
    padding: 20px;
    background-color: var(--primary-blue);
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }
}

@media screen and (min-width: 64em) and (max-width: 73.124em) {
  .datve-content {
    width: inherit;
    display: flex;
    justify-content: space-around;
  }

  .dat-ve {
    width: inherit;
    display: flex;
    justify-content: center;
    height: 210px;
    background-color: rgb(11, 39, 74);
    margin-top: 30px;
    padding: 0 0 20px 0;
  }

  .dat-ve-item {
    margin: 50px 0 0 -10px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .dat-ve-01,
  .dat-ve-02,
  .dat-ve-03,
  .dat-ve-04 {
    width: 200px;
    font-size: 15px;
    height: 45px;
    margin: 0;
    padding-right: 20px;
  }

  .phim-dang-chieu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px 10px 10px;
    background-color: rgb(25, 55, 109);
    transform: translateY(-150px);
    margin-top: 150px;
    width: 90%;
  }

  .danh-sach-phim {
    height: 390px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
  }
  .phimdangchieu-content {
    width: inherit;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .frame-khung-khuyen-mai {
    margin-top: 90px;
    transform: translateY(-100px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    /* z-index: -1; */
  }

  .khung-khuyen-mai {
    width: 87%;
    height: 250px;
    padding: 20px;
    background-color: var(--primary-blue);
    align-items: center;
    justify-content: center;
  }

  .khuyen-mai img {
    width: 280px;
    height: auto;
  }

  .frame-danh-gia-phim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;
  }

  .khung-danh-gia-phim {
    width: 87%;
    height: 630px;
    padding: 20px;
    background-color: var(--primary-blue);
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  .title {
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
  }

  #submitbtnhome {
    font-weight: bold;
    margin-left: 67%;
    margin-top: 0;
    width: 100px;
    font-size: 30px;
    background-color: #0b2447;
    color: #ffc436;
    border: 0;
    cursor: pointer;
    border: solid 2px #ffc436;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;
  }
}

/* -- tablet -- */
@media screen and (min-width: 59.025em) and (max-width: 63.99em) {
  .datve-content {
    width: inherit;
    display: flex;
    justify-content: space-around;
  }

  .dat-ve {
    width: inherit;
    display: flex;
    justify-content: center;
    height: 240px;
    background-color: rgb(11, 39, 74);
    margin-top: 30px;
  }

  .dat-ve-01,
  .dat-ve-02,
  .dat-ve-03,
  .dat-ve-04 {
    width: 250px;
    font-size: 15px;
    height: 50px;
  }

  .title-datve h1 {
    font-size: 30px;
  }

  .title-datve img {
    width: 150px;
    height: 153px;
  }

  .sub-menu-1-item {
    padding-inline-start: 10px;
  }

  .sub-menu-1 {
    padding: 0 30px 0 20px;
  }

  .datve-item-sub:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px 10px 10px 0;
    border-bottom: 1px dotted black;
    background: transparent;
    text-align: left;
    font-size: 13px;
  }

  .phim-dang-chieu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 80px 10px 60px 10px;
    background-color: rgb(25, 55, 109);
    transform: translateY(-150px);
    margin-top: 150px;
    width: 700px;
    height: 370px;
  }

  .danh-sach-phim {
    height: 300px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
  }
  .phimdangchieu-content {
    width: inherit;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .khung-khuyen-mai {
    width: 680px;
    height: 220px;
    padding: 20px;
    background-color: var(--primary-blue);
    align-items: center;
    justify-content: center;
  }

  .khuyen-mai {
    height: 100%;
    background-color: transparent;
    border: 2px dashed var(--secondary-blue);
    padding: 20px;
    display: flex;
    gap: 25px;
    justify-content: space-around;
  }

  .khuyen-mai img {
    width: 220px;
    height: auto;
  }

  .khung-danh-gia-phim {
    width: 680px;
    height: 630px;
    padding: 20px;
    background-color: var(--primary-blue);
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  .title {
    font-size: 15px;
  }

  .danh-gia-phim-item img {
    width: 60%;
    height: auto;
  }

  .danhgiaphim-content-read {
    background-color: var(--fourth-blue);
    padding: 20px;
    box-sizing: border-box;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  h1 {
    font-size: 25px;
  }

  #submitbtnhome {
    font-weight: bold;
    margin-left: 63%;
    margin-top: 20px;
    width: 100px;
    font-size: 30px;
    background-color: #0b2447;
    color: #ffc436;
    border: 0;
    cursor: pointer;
    border: solid 2px #ffc436;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;
  }
}

@media screen and (min-width: 46.25em) and (max-width: 59em) {
  .datve-content {
    width: inherit;
    display: flex;
    justify-content: space-around;
  }

  .dat-ve {
    width: inherit;
    display: flex;
    justify-content: center;
    height: 210px;
    background-color: rgb(11, 39, 74);
    margin-top: 50px;
    padding: 0 0 10px 0;
  }

  .dat-ve-item {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .dat-ve-item p {
    font-size: 15px;
  }

  .dat-ve-01,
  .dat-ve-02,
  .dat-ve-03,
  .dat-ve-04 {
    width: 200px;
    font-size: 15px;
    height: 45px;
    margin: 0;
    padding-right: 20px;
  }

  .title {
    padding: 0;
    text-align: left;
    margin: 0;
  }

  .title-datve {
    justify-content: center;
    padding-top: 0;
  }

  .title-datve h1 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 30px;
  }

  .title-datve img {
    width: 150px;
    height: 153px;
    display: none;
  }

  .datve-item-sub:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px 10px 10px 0;
    border-bottom: 1px dotted black;
    background: transparent;
    text-align: left;
    font-size: 13px;
  }

  .phim-dang-chieu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 10px 10px;
    background-color: rgb(25, 55, 109);
    transform: translateY(-150px);
    margin-top: 150px;
    width: 87%;
  }

  .danh-sach-phim {
    height: 390px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
  }

  .phimdangchieu-content {
    width: inherit;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .frame-khung-khuyen-mai {
    margin-top: 90px;
    transform: translateY(-100px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    /* z-index: -1; */
  }

  .khung-khuyen-mai {
    width: 84%;
    height: 270px;
    padding: 20px;
    background-color: var(--primary-blue);
    align-items: center;
    justify-content: center;
  }

  .khuyen-mai img {
    width: 300px;
    height: auto;
  }

  .frame-danh-gia-phim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;
  }

  .khung-danh-gia-phim {
    width: 84%;
    height: 630px;
    padding: 20px;
    background-color: var(--primary-blue);
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  .title {
    font-size: 15px;
  }

  .danh-gia-phim-item {
    width: 100%;
    height: 270px;
    background-color: var(--third-blue);
    display: flex;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
  }

  .danh-gia-phim-item img {
    width: 60%;
    height: auto;
  }

  h1 {
    font-size: 25px;
  }

  #submitbtnhome {
    font-weight: bold;
    margin-left: 58%;
    margin-top: 20px;
    width: 100px;
    font-size: 30px;
    background-color: #0b2447;
    color: #ffc436;
    border: 0;
    cursor: pointer;
    border: solid 2px #ffc436;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;
  }
}

/* -- mobile --*/
@media screen and (max-width: 46.24em) {
  .slick-dots {
    position: absolute;
    bottom: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    list-style-type: none;
    padding: 10px 0 0 0;
    margin-top: 10px;
  }

  .slick-arrow {
    width: 400px;
    height: 88px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .datve-content {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .dat-ve {
    width: inherit;
    display: flex;
    justify-content: center;
    height: 210px;
    background-color: rgb(11, 39, 74);
    margin-top: 50px;
    padding: 0 0 10px 0;
  }

  .dat-ve-item {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .dat-ve-item p {
    font-size: 12px;
  }

  .dat-ve-01,
  .dat-ve-02,
  .dat-ve-03,
  .dat-ve-04 {
    width: 130px;
    font-size: 15px;
    height: 45px;
    margin: 0;
    padding-right: 20px;
  }

  .title {
    padding: 0;
    text-align: center;
    margin: 0;
  }

  .title-datve {
    justify-content: center;
    padding-top: 0;
  }

  .title-datve h1 {
    margin-top: -30%;
    font-size: 20px;
  }

  .title-datve img {
    width: 150px;
    height: 153px;
    display: none;
  }

  .sub-menu-1-item {
    padding-inline-start: 10px;
  }

  .datve-item-sub:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 10px 10px 10px 0;
    border-bottom: 1px dotted black;
    background: transparent;
    text-align: left;
    font-size: 13px;
  }

  .submit {
    height: 30px;
    background-color: #0b2447;
    border: 0;
    color: white;
    font-weight: bold;
    margin-left: 120px;
  }

  .phim-dang-chieu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 70px 10px 20px 10px;
    background-color: rgb(25, 55, 109);
    transform: translateY(-150px);
    margin-top: 150px;
    width: 90%;
  }

  .danh-sach-phim {
    height: 300px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
  }

  .phimdangchieu-content {
    width: inherit;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .khung-khuyen-mai {
    width: 84%;
    height: 270px;
    padding: 20px;
    background-color: var(--primary-blue);
    align-items: center;
    justify-content: center;
  }

  .frame-khung-khuyen-mai {
    margin-top: 90px;
    transform: translateY(-100px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    /* z-index: -1; */
  }

  .khuyen-mai {
    height: 100%;
    background-color: transparent;
    border: 2px dashed var(--secondary-blue);
    padding: 20px;
    display: flex;
    gap: 25px;
    padding-left: 20px;
  }

  .khuyen-mai img {
    width: 300px;
    height: auto;
  }

  .frame-danh-gia-phim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;
  }

  .khung-danh-gia-phim {
    width: 84%;
    height: 630px;
    padding: 20px;
    background-color: var(--primary-blue);
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  .title {
    font-size: 13px;
  }

  .danh-gia-phim-item {
    width: 100%;
    height: 270px;
    background-color: var(--third-blue);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
  }

  .danhgiaphim-content-read {
    background-color: var(--fourth-blue);
    padding: 20px;
    box-sizing: border-box;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100px;
  }

<<<<<<< HEAD
  h1 {
    font-size: 15px;
  }

  #submitbtnhome {
    font-weight: bold;
    margin-left: 35%;
    margin-top: 20px;
    width: 100px;
=======
.submit {
    padding: 10px;
    width: inherit;
    height: 57px;
    background-color: #0B2447;
    border: 0;
    color: white;
    font-weight: bold;
}

.submit button {
    margin-left: 1070px;
    height: 57px;
    width: 200px;
>>>>>>> a1c55b5d73433a447a64d774602d2526fd9eabde
    font-size: 30px;
    background-color: #0b2447;
    color: #ffc436;
    border: 0;
    cursor: pointer;
    border: solid 2px #ffc436;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;
  }
}
