.dat-ve{
    width: inherit;
    height: fit-content;
}
.title-datve img {
    transform: translateY(50px);
    width: 130px;
    height: 130px;
}
.datve-content{
    padding: 30px 0 30px 0;
}

.submit {
    height: 57px;
    background-color: #0B2447;
    border: 0;
    color: white;
    font-weight: bold;
    width: inherit;
}

.submit button {
    margin-left: 1000px;
    height: 57px;
    width: 200px;
    font-size: 30px;
    background-color: #0B2447;
    color: #ffc436;
    border: 0;
    cursor: pointer;
    border: solid 2px #ffc436;
    font-size: 28px;
    border-radius: 2px;
}


.submit button:hover {
    background-color: #ffc436;
    color: black;
}
