:root {
  --content-width: 1200px;
  --primary-blue: #0b2447;
  --secondary-blue: #7eb9e3;
  --fourth-blue: #aac5e7;
  --yellow: #ffc436;
  --third-blue: #627091;
  --fifth-blue: #337ccf;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.form {
  width: inherit;
}

.container-sign-up {
  width: var(--content-width);
  height: fit-content;
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 30px 0;
  margin-top: 20px;
}

.menu-sign-up {
  width: 200px;
  display: block;
  padding: 50px;
  padding-top: 100px;
  padding-right: 0px;
}

.menu-sign-up ul {
  list-style-type: none;
  display: block;
}

.menu-sign-up ul li {
  width: 180px;
  padding: 10px;
  background: transparent;
  text-align: left;
  color: white;
  font-weight: bold;
}

.menu-sign-up ul li:hover,
.menu-signup-item.active {
  background: var(--yellow);
  color: black;
}

.info-sign-up {
  background-color: var(--yellow);
}

.content-sign-up {
  display: flex;
  height: fit-content;
  background-color: var(--secondary-blue);
  outline: 5px dashed var(--yellow);
  margin-top: 30px;
  margin-right: 40px;
  padding: 20px;
}

.inter-sign-up {
  width: 50%;
}

.h1 {
  width: 100%;
  height: 50px;
  background-color: var(--thirt-blue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-enter {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  font-size: 20px;
  font-weight: bold;
}

.inter-sign-up input {
  width: 80%;
  height: 40px;
  margin-top: 10px;
  padding-left: 20px;
  border: 5px solid var(--thirt-blue);
}

.xac-nhan {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.xac-nhan input {
  width: 20px;
  height: 20px;
  border: 5px solid var(--thirt-blue);
}

.xac-nhan p {
  margin: 9px;
}

.button-dang-ky {
  margin-top: 20px;
  width: 90%;
  height: 50px;
  background-color: var(--yellow);
  border: none;
}

.button-dang-ky:hover {
  background-color: var(--thirt-blue);
  color: white; /* Thay đổi màu khi di chuột vào button */
}

.button-dang-nhap {
  margin-top: 20px;
  width: 90%;
  height: 50px;
  background-color: var(--yellow);
  border: none;
}

.button-dang-nhap:hover {
  background-color: var(--thirt-blue);
  color: white; /* Thay đổi màu khi di chuột vào button */
}

.info-protect {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.h1-info {
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: var(--yellow);
}

.h1-info h1 {
  font-size: 100%;
  text-align: center;
}

.info-protect img {
  width: 90%;
}

.linkto {
  margin-top: 20px;
  margin-left: 40px;
}

.linkto img {
  width: 200px;
}

.chinh-sach {
  margin-top: 20px;
  width: 80%;
  height: 500px;
  background-color: white;
  border: 10px solid var(--thirt-blue);
  overflow: auto;
  padding: 20px;
}

@media screen and (min-width: 64em) {
  .container-sign-up {
    width: 100%;
    height: fit-content;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 30px 0;
    margin-top: 20px;
  }
}

/* -- tablet -- */
@media screen and (min-width: 59.0625em) and (max-width: 63.99em) {
  .container-sign-up {
    width: 100%;
    height: fit-content;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 30px 0;
    margin-top: 20px;
  }

  .menu-sign-up {
    width: 15%;
    display: block;
    padding: 0;
    padding-top: 100px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 46.25em) and (max-width: 59em) {
  .form {
    width: inherit;
  }

  .container-sign-up {
    width: 100%;
    height: fit-content;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 30px 0;
    margin-top: 20px;
  }

  .menu-sign-up {
    width: 200px;
    display: block;
    padding: 50px;
    padding-top: 100px;
    padding-right: 0px;
    display: none;
  }

  .content-sign-up {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--secondary-blue);
    outline: 5px dashed var(--yellow);
    margin-top: 30px;
    margin-right: 40px;
    padding: 20px;
  }

  .inter-sign-up {
    width: 100%;
  }

  .xac-nhan {
    display: flex;
    flex-direction: row;
    width: inherit;
  }

  .info-protect {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .h1-info {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: var(--yellow);
  }

  .h1-info h1 {
    font-size: 15px;
    text-align: center;
  }

  .linkto {
    margin-top: 20px;
    margin-left: 0;
  }
}

/* -- mobile --*/
@media screen and (max-width: 46.24em) {
  .form {
    width: inherit;
  }

  .container-sign-up {
    width: 100%;
    height: fit-content;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 30px 0;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .menu-sign-up {
    width: 200px;
    display: block;
    padding: 50px;
    padding-top: 100px;
    padding-right: 0px;
    display: none;
  }

  .content-sign-up {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--secondary-blue);
    outline: 5px dashed var(--yellow);
    margin-top: 30px;
    margin-right: 40px;
    padding: 20px;
  }

  .inter-sign-up {
    width: 100%;
  }

  .xac-nhan {
    display: flex;
    flex-direction: row;
    width: inherit;
  }

  .info-protect {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .h1-info {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: var(--yellow);
  }

  .h1-info h1 {
    font-size: 15px;
    text-align: center;
  }

  .linkto {
    margin-top: 20px;
    margin-left: 0;
  }
}
